/* ==== Footer ==== */
/* ===========================
    Block: footer
=========================== */
.page__footer {
    height: 5rem;
    width: 100%;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ===========================
   elements of footer
=========================== */
.footer__text {
    font-family: var(--secondary-font);
    font-size: var(--paragraph-size);
    color: var(--background-color);
}
