.footer {
	padding: 2.5rem 0;
	text-align: center;
	background-color: var(--secondary-color);
}

.footer__text {
	font-family: var(--family-text);
	font-size: var(--size-large);
	color: var(--background-color);
}

@media (max-width: 1024px) {
	.footer {
		padding: 2rem 0;
	}
    
	.footer__text {
        font-size: var(--size-medium);
	}
}

@media (max-width: 480px) {
    .footer {
        padding: 1.5rem 0;
    }

	.footer__text {
		font-size: var(--size-regular);
	}
}
