/* ===========================
    Block: page
=========================== */
.page__header {
    background-color: var(--background-color);
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ===========================
    Block/element: header
=========================== */
.header__menu {
    height: 3.2rem;
    display: flex;
    gap: var(--item-spacing-lg);
}

/* ===========================
    element of header
=========================== */
.menu__link {
    text-decoration: none;
    font-family: var(--secondary-font);
    font-size: var(--paragraph-size-lg);
    font-weight: var(--bold-montserrat);
    color: var(--primary-color);
}

.menu__link:hover {
    text-decoration: none;
    font-family: var(--secondary-font);
    font-size: var(--paragraph-size-lg);
    color: var(--primary-color);
    border-bottom: solid 0.2rem var(--primary-color);
}