/* ===========================
    Block: page
=========================== */
.page__main {
    background-color: var(--background-color);
    height: 45.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--item-spacing-lg);
}

/* ===========================
    Block/element: main
=========================== */
.main__content {
    width: 37rem;
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    align-items: center;
}
    
.main__image{
    width: 30.5rem;
}

/* ===========================
    Block/element: content
=========================== */
.content__main-text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.content__link-area {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

/* ===========================
    Block/element: main-text
=========================== */
.main-text__titles{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
    
.main-text__text {
    font-family: var(--secondary-font);
    font-size: var(--paragraph-size-lg);
    color: var(--text-color);
}

/* ===========================
    Block/element: link-area
=========================== */
.link-area__subtitle{
    font-family: var(--main-font);
    font-size: var(--paragraph-size-lg);
    color: var(--text-color);
    font-weight: normal;
    text-align: center;
}
    
.link-area__link {
    width: 23.5rem;
    height: 4.25rem;
    border: solid 0.125rem var(--primary-color);
    border-radius: 0.5rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.link-area__link:hover {
    width: 23.5rem;
    height: 4.25rem;
    border: solid 0.125rem var(--primary-color);
    border-radius: 0.5rem;
    background-color: #272727;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

/* ===========================
   elements of titles
=========================== */
.titles__title {
    font-family: var(--main-font);
    font-size: var(--title-size-lg);
    color: var(--text-color);
    text-align: center;
    font-weight: normal;
}

.titles__subtitle--highlighted {
    font-family: var(--main-font);
    font-size: var(--title-size-lg);
    color: var(--primary-color);
    font-weight: normal;
    text-align: center;
}

/* ===========================
   elements of link
=========================== */
.link__text {
    color: var(--text-color);
    font-family: var(--secondary-font);
    font-size: var(--paragraph-size-lg);
    font-weight: var(--bold-montserrat);
}