/* ===========================
    Block: page
=========================== */
.page__main{
    background-color: var(--background-color);
    height: 60rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--item-spacing-lg);
}

/* ===========================
    Block/element: content
=========================== */
.main__content {
    width: 49rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

/* ===========================
    element: image
=========================== */
.main__image{
    width: 40.8rem;
}

/* ===========================
    element: title
=========================== */
.titles__title {
    font-family: var(--main-font);
    font-size: var(--title-size-lg);
    color: var(--text-color);
    font-weight: normal;
    text-align: center;
}

/* ===========================
    Block/element: skills
=========================== */
.content__skills {
    width: 31rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

/* ===========================
    Block/element: skill
=========================== */
.skills__skill {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

/* ===========================
    Block/element: texts
=========================== */
.skill__texts {
    display: flex;
    justify-content: space-between;
}

/* ===========================
    element: text
=========================== */
.texts__text {
    font-family: "Montserrat", sans-serif;
    font-size: var(--paragraph-size-lg);
    color: #F6F6F6;
    text-align: center;
}

.skill__image{
    height: 2rem;
}

@media only screen and (max-width: 650px){
    
    .content__skills {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    .skills__skill {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
    }

    .skill__text {
        font-family: "Montserrat", sans-serif;
        font-size: 1rem;
        color: #F6F6F6;
        font-weight: 600;
        text-align: center;
    }

    .skill_image {
        width: 16rem;
    }

}