/* ===========================
    Block: page
=========================== */
.page__main{
    background-color: var(--background-color);
    height: 60rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--item-spacing-lg);
}

/* ===========================
    Block/element: content
=========================== */
.main__content {
    width: 49rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

/* ===========================
    element: image
=========================== */
.main__image{
    width: 40.8rem;
}

/* ===========================
    element: title
=========================== */
.titles__title {
    font-family: var(--main-font);
    font-size: var(--title-size-lg);
    color: var(--text-color);
    font-weight: normal;
    text-align: center;
}

/* ===========================
    Block/element: skills
=========================== */
.content__skills {
    width: 31rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

/* ===========================
    Block/element: skill
=========================== */
.skills__skill {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

/* ===========================
    Block/element: texts
=========================== */
.skill__texts {
    display: flex;
    justify-content: space-between;
}

/* ===========================
    element: text
=========================== */
.texts__text {
    font-family: "Montserrat", sans-serif;
    font-size: var(--paragraph-size-lg);
    color: #F6F6F6;
    text-align: center;
}

.skill__image{
    height: 2rem;
}



/* ===========================
   screen max-width:1180px
=========================== */
@media only screen and (max-width:1180px) {
    
    .page__main{
        flex-grow: 3;
        height: 120rem;
        display: flex;
        flex-direction: column-reverse;
        gap: var(--item-spacing-md);
    }

}



/* ===========================
   screen max-width:550px
=========================== */
@media only screen and (max-width:550px) {
    
    .page__main{
        /* height: 78rem; */
        height: 100rem;
        gap: var(--item-spacing-md);
    }

    .main__content{
        width: 38.5rem;
    }

    .titles__title {
        font-size: var(--title-size-md);
    }

    .texts__text{
        font-size: var(--paragraph-size-md);
    }

    .main__image{
        /* width: 26rem; */
        width: 32.6rem;
    }

    .content__skills{
        width: 25rem;
    }

    .skill__image {
        height: 1.6rem;
    }

}




/* ===========================
   screen max-width:450px
=========================== */
@media only screen and (max-width: 450px) {
    
    .page__main{
        height: 85rem;
        gap: var(--item-spacing-sm);
    }

    .main__content{
        width: 27.5rem;
    }

    .titles__title {
        font-size: var(--title-size-sm);
    }

    .texts__text{
        font-size: var(--paragraph-size-sm);
    }


    .main__image{
        /* width: 20.8rem; */
        width: 26rem;
    }

        .content__skills{
        width: 20rem;
    }

    .skill__image {
        height: 1.28rem;
    }

}