:root {
	/*colors*/
	--background-color: #010101;
	--primary-color: #f6f6f6;
	--secondary-color: #22d4fd;
	--hover-color: #272727;

	/*font family*/
	--family-title: "Krona One", sans-serif;
	--family-text: "Montserrat", sans-serif;

	/*font weight*/
	--weight-medium: 600;

	/*font size*/
    --size-regular: 1rem; /*16px*/
	--size-medium: 1.5rem; /*24px*/
	--size-large: 2rem; /*32px*/
	--size-xlarge: 2.5rem; /*40px*/
}